/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*--------------------------------------------------------------------------ОБНУЛЕНИЕ------------------------------------------------------------------------*/

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,:after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}/*
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}*/

nav,footer,header {
	display: block;
}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family: inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Martian Mono';
  font-family: 'Loved by the King', cursive;
	font-weight: 900;
	text-transform: uppercase;
  color: #1d1a1b;
}

p {
  font-family: 'Permanent Marker', cursive;
  font-family: 'Loved by the King', cursive;
	/*font-family: 'Open Sans';
  
	font-weight: 400;
	font-size: 16px;*/
	color: #1d1a1b;
}

a {
  color: #1d1a1b;
  font-family: 'Permanent Marker', cursive;

}


body {
  font-family: 'Loved by the King', cursive;
	/* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Martian Mono', monospace; */
  /* font-family: 'Permanent Marker', cursive; */
	font-weight: 300;
	font-size: 16px;
	-webkit-box-align: 21px;
	-ms-flex-align: 21px;
	align-items: 21px;
  color: #1d1a1b;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

img {
	display: block;
	max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

}

.container {
	max-width: 1180px;
	margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 550px) {
  .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
  }
}

li {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.undotted {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.visuallyhidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.section {
  max-width: 1400px;
  margin: 0 auto;
}


.wrapper {
  position: relative;
  background: -webkit-gradient(linear, left top, right top, from(#f598a8), to(#f6edb2));
  background: -o-linear-gradient(left, #f598a8, #f6edb2);
  background: linear-gradient(90deg, #f598a8, #f6edb2);
  background: -o-linear-gradient(315deg, #e55d87 0%, #5fc3e4 100%);
  background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  background: -webkit-gradient(linear, left top, right top, from(#cfecd0), color-stop(#a0cea7), to(#9ec0db));
  background: -o-linear-gradient(left, #cfecd0, #a0cea7, #9ec0db);
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  background: -webkit-gradient(linear, left top, right top, from(#b9deed), to(#efefef));
  background: -o-linear-gradient(left, #b9deed, #efefef);
  background: linear-gradient(90deg, #b9deed, #efefef);
  /* background: #FFFBF0; */
}

/*----------------------------------------ОБНУЛЕНИЕ-----------------------------------------*/
/*----------------------------------------HEADER-------------------------------------------------------*/
.container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 940px) {
  .container-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 550px) {
  .container-header {
    gap: 10px;
  }
}

.header__block {
  background-color: #E73F3F;
  -webkit-transform: rotate(-8.02deg);
      -ms-transform: rotate(-8.02deg);
          transform: rotate(-8.02deg);
  border-radius: 20px;
}

.header__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 5px;
  color: #1d1a1b;
  color: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
  padding: 20px;
  /* padding: 49px 130px 26px 44px; */
  /* width: min-content; */
}

@media (max-width: 1000px) {
  .header__title {
    font-size: 38px;
  }
}

@media (max-width: 440px) {
  .header__title {
    font-size: 28px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 15px;
  z-index: 5;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
@media (max-width: 550px) {
  .header__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    display: none;
  }
}


/* Burger */
.header__list-button-open {
  display: none;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #ffffff00;
  border-radius: 10px;
  @media(max-width: 550px) {
    display: block;
  }
}

.display-none {
  @media(max-width: 550px) {
    display: none;
  }
}
.close-menu {
  display: block;
}

.header__list-button-close {
  border: 1px dashed;
  border-radius: 20px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;

  background-color: #ffffff00;
  border-radius: 10px;
  @media(min-width: 551px) {
    display: none;
  }
}


.header__list-button-open {
  border: 1px dashed;
  border-radius: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__list-button-open:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.8;
}
.header__list-button-open:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
  color: antiquewhite;
}


/* */

.header__list-item {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__list-item:hover {
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  opacity: 0.8;
}
.header__list-item:active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 0.5;
  color: #1d1a1b;
}

.header__list-link {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
  text-align: right;
  letter-spacing: 0.03em;
  color: #1d1a1b;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__list-link:active {
  color: #1d1a1b;
}

/* @media (max-width: 1180px) {
  .header__list-link {
    font-size: 16px;
  }
}
@media (max-width: 1100px) {
  .header__list-link {
    font-size: 15px;
  }
} */



/*--------------------------------------------------------------------------MAIN------------------------------------------------------------------------*/
/*--ABOUT--*/
.container-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 440px) {
  .container-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}


.image {
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  height: 100%;
}

@media (max-width: 850px) {
  .image {
    max-width: 250px;
    max-height: 250px;
  }
}
@media (max-width: 550px) {
  .image {
    max-width: 150px;
    max-height: 150px;
  }
}
@media (max-width: 440px) {
  .image {
    margin: 0 auto;
  }
}



.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  padding-top: 80px;
  padding-left: 80px;
  width: 50%;
}

@media (max-width: 440px) {
  .content {
    padding-left: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}



.content__title {
  text-align: center;
  z-index: 5;
}

.content__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.content__list-skills{
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 440px) {
  .content__text {
    text-align: center;
  }
}

@media (max-width: 440px) {
  .content__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

/*--EDUCATION--*/
.container-edu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 440px) {
  .container-edu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.container-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 440px) {
  .container-code {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.content__code-txt {
  font-family: 'Loved by the King', cursive;
	/* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Martian Mono', monospace; */
  /* font-family: 'Permanent Marker', cursive; */
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  /* line-height: 170%; */
  text-align: left;
  letter-spacing: 0.03em;
  color: #1d1a1b;
  /* width: max-content; */
  margin-left: 5%;
  @media(max-width:590px) {
    font-size: 16px;
  }
  @media(max-width: 500px) {
    font-size: 12px;
  }
}


.container-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}
@media (max-width: 440px) {
  .container-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.content__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 17px;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #000000;
}

.content__text-portfolio {
  font-size: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-align: center;
  border: 1px dashed;
  border-radius: 20px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 10px;
  color: #1d1a1b;
  @media(max-width:500px) {
    font-size: 18px;
  }
}
.content__text-portfolio:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}


.content__list-link {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: #1d1a1b;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content__list-link:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

/* @media (max-width: 617px) {
  .email {
    display: flex;
    flex-wrap: nowrap;
  }
} */
/*--------------------------------------------------------------------------FOOTER------------------------------------------------------------------------*/
.footer {
  padding: 40px 0;
  width: 100%;
  margin: 0 auto;
  /* background: conic-gradient(from 182.43deg at 80% 50%, #FE79B9 0deg, #AD00FF 150deg, #2489FF 360deg); */
  /* background: conic-gradient(from 182.43deg at 80% 50%, #FE7979 0deg, #FF001F 150deg, #24FFB0 360deg); */
  /* background-color: #E73F3F; */
}

.footer a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer a:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.footer__text {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
  background-color: #E73F3F;
  padding: 15px 20px;
  border-radius: 10px;
}

.container-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.image-bg {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 0;
  opacity: 0.7;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}

.svg {
  color: #fff;
}